{% extends 'main.html' %}



{% block content %}

<div>
    <!-- music genre content -->
    <div>
        <h1>LLM Music Recomendation Model</h1>
        <form action="{% url 'homePage' %}" method="POST" id="user_checkbox">
            {% csrf_token %}

            <label>
                <input type="checkbox" name="genre" value="rock" id="rock_checkbox">
                <span>Rock</span>
            </label>
            <label>
                <input type="checkbox" name="genre" value="pop" id="pop_checkbox">
                <span>Pop</span>
            </label>
            <label>
                <input type="checkbox" name="genre" value="jazz" id="jazz_checkbox">
                <span>Jazz</span>
            </label>
            <label>
                <input type="checkbox" name="genre" value="classical" id="classical_checkbox">
                <span>Classical</span>
            </label>
            <label>
                <input type="checkbox" name="genre" value="hiphop" id="hiphop_checkbox">
                <span>Hip-Hop</span>
            </label>
            <label>
                <input type="checkbox" name="genre" value="electronic" id="electronic_checkbox">
                <span>Electronic</span>
            </label>
            <label>
                <input type="checkbox" name="genre" value="bollywood" id="bollywood_checkbox">
                <span>Bollywood</span>
            </label>
            <label>
                <input type="checkbox" name="genre" value="punjabi" id="punjabi_checkbox">
                <span>Punjabi</span>
            </label>
            <hr>

            <input type="text" placeholder="your message..." name="user_search_query" id="user_search_query_bar">

        </form>
    </div>


    <div>
        <div>
            {% if result %}
            <div>
                {% for line in result %}
                <p>{{ line|safe }}</p>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>

    <div>
        {% if recommendations %}
        <h2>Music Recommendations</h2>
        <ul>
            {% for song in recommendations %}
            <li>
                <strong>{{ song.song }}</strong> by {{ song.artist }}
                <a href="{{ song.url }}" target="_blank">Listen</a>
                {% if song.image %}
                <br><img src="{{ song.image }}" alt="{{ song.song }}" width="100">
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>


</div>


{% endblock %}